* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Gilroy';
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Gilroy';
}

.font-famly {
    font-family: 'Gilroy';
}

section.blogs.white-bg {
    background: #ffffff;
    padding: 120px 20px;
}

ul {
    list-style: none;
}

.mb-6 {
    margin-bottom: 60px;
}

.container.big {
    max-width: 1520px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

a.nav-link.ml-3 {
    margin-left: 30px;
}

/**********************header********************************/
button.toggle-button span.line {
    background-color: #fff;
    width: 28px;
    height: 1px;
    display: block;
    margin: 5px;
    padding: 1px;
}

.banner.example-box::after {
    content: "";
    background: linear-gradient(184.12deg, rgba(0, 0, 0, 0.6) 4.52%, rgba(0, 0, 0, 0) 29.8%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a.button.hover {
    background-color: #54373700;
    border: 1px solid #FFFFFF66;
    color: #ffffff;
}

.button i {
    padding-left: 6px;
    font-weight: 600;
    font-size: 15px;
}

button.toggle-button {
    display: none;
    background-color: #282568;
    border: none;
    padding: 3px;
    border-radius: 30px;
    width: 45px;
    text-align: center;
    height: 45px;
    cursor: pointer;
}

header {
    position: absolute;
    padding: 10px 0px;
    left: 0;
    right: 0;
    z-index: 9;
    transition: 0.1s allease;
}

.logo-wareper img {
    width: 98px;
}

a.button.greys:hover {
    background-color: #f3f3f300;
    border: 1px solid #171717;
    color: #171717;
}

.topnavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navebar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.navebar ul li a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Gilroy';
    color: rgba(255, 255, 255, 1);
    padding: 13px 15px;
}

a.button-btn {
    color: #171717 !important;
    font-weight: bold !important;
}

.navebar ul li a b {
    font-weight: bold;
}

.button-btn {
    font-family: 'Gilroy';
    font-weight: bold;
}

.navebar ul li.login:hover a {
    background-color: #ffffffeb;
    color: #171717;

}

.button-btn:hover,
.button:hover {
    background-color: #ffffffeb;
}

.navebar ul.navebar-list li.nav-item:last-child a.nav-link {
    padding-right: 0px;
}

.button-btn {
    padding: 12px 15px;
    margin-left: 15px;
}

.navebar ul li a:hover {
    color: #fff;
    opacity: 0.9;
}

header.scrolled {
    position: fixed;
    top: 0;
    background: #fff;
    padding: 10px 0px;
    box-shadow: 2px 2px 32px 0px rgba(0, 0, 0, 0.15);

}

header.scrolled .navebar ul li a {
    color: #171717;
}

.logoblack {
    display: none;
}

header.scrolled .logoblack {
    display: block;
}

header.scrolled .logowhite {
    display: none;
}

header.scrolled .button-btn {
    background-color: #051827;
    color: #fff !important;
}

header.scrolled .navebar ul li a svg path {
    fill: #051827;
}

header.scrolled .logo-wareper {
    width: 80px;
}

/**********************header end********************************/

ul.list-unstyled li {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
}

/**********************banner********************************/
.banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.ul-li-row ul {
    padding: 0;
}


.banner.example-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 27.61%, rgba(0, 0, 0, 0.7) 63.81%, rgba(0, 0, 0, 0.8) 100%);
}

a {
    text-decoration: none;
}

.button-row {
    display: flex;
    gap: 15px;
}

.button {
    padding: 12px 30px;
    background-color: #ffffff;
    border: 1px solid #FFFFFF66;
    color: #171717;
    cursor: pointer;
    font-size: 17px;
    transition: 0.6s;
    font-weight: 600;
}

a.button.black-border:hover {
    background-color: #17171700;
    border: 1px solid #171717;
    color: #171717;
}

a.button.black-border {
    border: 1px solid #17171700;
}

rgba(0, 0, 0, 0) a.button.hover {
    background-color: #322d2d00;
    color: #ffffff;
}

a.button.hover:hover {
    background-color: #ffffff;
    color: #171717;
}

a.button.greys {
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    padding: 14px 30px;
}
a.button.greys:hover {
    background: #171717;
    color: #F3F3F3;
}

.banner-top {
    padding: 0px;
    position: relative;
}

.banner-main {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 195px 0px;
    position: relative;
    z-index: 3;
}

.bubble-home-banner {
    position: absolute;
    z-index: -1;
    right: 26px;
    top: -42px;
}

.banner-left {
    text-align: left;
    color: #fff;
    width: 44%;
    position: relative;
}

.banner-left p {
    padding-bottom: 35px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 1.8em;
    color: #e7e7e7;
}

.banner-left h2 {
    font-size: 44px;
    line-height: 1.3em;
    color: #ffffff;
}

.banner-left span {
    color: #EED274;
    font-style: italic;
    font-family: DM Serif Displa;
    font-weight: 500;
}

.button-custome i.fa.fa-shopping-cart {
    margin-right: 10px;
    font-size: 17px;
}

.button i.fa.fa-shopping-cart {
    margin-right: 10px;
    font-size: 17px;
}

.button i.fas.fa-image {
    margin-right: 10px;
    font-size: 17px;
}

.button-custome i.fas.fa-chevron-down {
    margin-right: 10px;
    font-size: 17px;
}

/************Upcoming events START***************/

section.Upcoming-events {
    padding-top: 100px;
    padding-bottom: 100px;
}

.event-card {
    position: relative;
    color: white;
    overflow: hidden;
}

.event-card img {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

.event-overlay {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 60px;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
}

.event-time {
    color: black;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 0;
    background: linear-gradient(180deg, #EED274 0%, #C49C44 100%);
    padding-bottom: 8px;
    font-size: 16px;
}

.Olive {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 0;
}

a.btn.btn-light.btn-sm {
    padding: 12px 18px;
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    font-size: 16px;
}

h4.margin-top {
    margin-top: 24px;
}

.event-overlays {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 32px;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
}

.Olives {
    position: absolute;
    bottom: 47px;
    left: 32px;
    right: 0;
}

.hover_move ul {
    padding-left: 0;
}



.flex1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: flex-start;
}

.bg-img {
    padding: 60px 90px;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-canter {
    max-width: 485px;
}

.img-box,
.box-canter {
    z-index: 1;
}

.bg-img::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #100a14cf;
}

.Olive ul {
    padding: 0;
    margin-bottom: 35px;
}

.li-box li {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.event-card:hover .hover_move {
    opacity: 1;
    bottom: 0;
}

.hover_move {
    margin-top: 25px;
    opacity: 0;
    transition: 0.9s;
    position: relative;
    bottom: -67px;
}

h2 {
    font-weight: 600;
    font-size: 50px;
    color: rgba(7, 37, 57, 1);
}

.flex1.canter {
    text-align: center;
    display: block;
}

/*************services*************/
.button-row.canter {
    justify-content: center;
}

a.button.black:hover {
    background-color: #17171700;
    border: 1px solid #171717;
    color: #171717;
}

a.button.black {
    background-color: #171717;
    border: 1px solid #171717;
    color: #ffffff;
}

a.button.black-hover:hover {
    background-color: #171717;
    border: 1px solid #171717;
    color: #ffffff;
}

a.button.black-hover {
    background-color: #17171700;
    border: 1px solid #171717;
    color: #171717;
}

.service-card {
    position: relative;
}

.service-card .icon-shep {
    position: absolute;
    left: -45px;
    top: -21px;
    z-index: 99999;
}

.service-card .icon-vecter {
    position: absolute;
    right: -11px;
    bottom: 50px;
}

.service-card .icon-shep-4 {
    position: absolute;
    right: -60px;
    bottom: 35px;
}

.service-card .icon-star {
    position: absolute;
    left: -56px;
    top: -21px;
}

.col-md-6.mt-top {
    margin-top: 32px;
}

button.btn.btn-primary.btn-custom {
    background-color: #fff;
    color: #000;
    border-radius: 0;
    border: none;
}

button.btn.btn-dark.btn-custom {
    border-radius: 0;
    background-color: #000;
}

.service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 60px;
    text-align: center;
}

.btn-custom {
    margin: 10px;
    padding: 19px 40px;
    border-radius: 5px;
    font-size: 19px;
}

.services-heding {
    display: flex;
    align-items: start;
    justify-content: stretch;
    margin-bottom: 75px;
}

.mt-6 {
    margin-top: 60px;
}

.mb-6 {
    margin-bottom: 60px;
}

.services-heding p {
    color: #000;
    font-family: Gilroy-Regular;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4em;
    letter-spacing: 0px;
}

.services-heding h2 {
    font-size: 50px;
    color: rgba(7, 37, 57, 1);
}

.bg-color {
    background-color: rgba(243, 243, 243, 1);
    margin-top: 120px;
}

/******************testimonial************/
p.gray {
    font-weight: 300;
    font-size: 16px;
    color: #ccc;
}

.testimonial-section {
    margin: auto;
    background: white;
}

.testimonial-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.testimonial-item {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
}

.testimonial-item img {
    width: 150px;
    height: 370px;
    object-fit: cover;
}

.testimonial-item img {
    max-width: 50%;
    height: 500px;
}

.testimonial-content {
    max-width: 500px;
    text-align: left;
    background-color: #082539;
    padding: 60px 40px;
    height: 500px;
}

.testimonial-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.testimonial-content p {
    font-size: 16px;
    color: #e7e7e7;
    margin-bottom: 32px;
}

.testimonial-content h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

p.font-bold {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.testimonial-section {
    text-align: center;
    position: relative;
    padding-top: 120px;
}

.testimonial-section .owl-item {
    transition: all 0.3s ease-in-out;
    filter: blur(0px);
    transform: scale(0.8);
}

.testimonial-section .owl-item.active-slide {
    filter: blur(0px);
    transform: scale(1);
}

.testimonial-section .left-slide,
.testimonial-section .right-slide {
    filter: blur(5px);
    /* More blur */
    transform: scale(0.6);
    /* Smaller size */
    opacity: 0.4;
}

.testimonial-section h2 {
    margin-bottom: 60px;
}

.testimonial-section button.owl-next {
    position: absolute;
    right: 200px;
    top: 250px;
}

.testimonial-section button.owl-prev {
    position: absolute;
    left: 200px;
    top: 250px;
}

.testimonial-section .owl-dots {
    display: none;
}

.testimonial-section .owl-nav i {
    font-size: 50px;
}

.testimonial-section .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}

/*******************Founder’s Note************/
.card_component {
    gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.founder img {
    width: 100%;
}

.founder p {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5em;
}

.founder h2 {
    font-weight: 600;
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 60px;
}

/*************************join-us START******************************/
.join-us {
    width: 100%;
    padding: 220px 0;
}

.box-canter img {
    margin-bottom: 25px;
}

.card-custom {
    background: white;
    padding: 35px 60px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-box {
    position: relative;
    top: 87px;
}

p.card-heading {
    font-weight: bold;
    font-size: 28px;
    line-height: 33.6px;
}

.button.dark {
    background: linear-gradient(54.32deg, #231535 -5.81%, #743AA0 99.02%);
    color: #ffffff;
}

.button.dark:hover {
    color: #171717;
    border: 1px solid #171717;
    background: linear-gradient(54.32deg, #23153500 -5.81%, #743aa000 99.02%);
}

.button.dark-hover:hover {
    background: linear-gradient(54.32deg, #231535 -5.81%, #743AA0 99.02%);
    color: #ffffff;
}

.button.dark-hover {
    color: #171717;
    border: 1px solid #171717;
    background: linear-gradient(54.32deg, #23153500 -5.81%, #743aa000 99.02%);
}

/*************************Blogs START******************************/

.blogs_slider .box:hover::after {
    opacity: 1;
}

.blogs_slider .box::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 1s;
    opacity: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 57%, #000000 100%),
    linear-gradient(180deg, rgba(122, 28, 24, 0.4) 0%, rgba(72, 16, 14, 0.4) 100%);    
}

.blogs_slider .box._w-4 h5,p.item-date { 
    position: relative;
    z-index: 5;
}
section.blogs {
    background: rgb(243 243 243);
    padding: 120px 0;
}

.blogs_slider .item {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.blogs_slider .item::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.blogs_slider .item.red::after {
    background: linear-gradient(180deg, #7b1c1870 0%, #47100E 100%);
}

.blogs_slider .item.green::after {
    background: linear-gradient(180deg, #173b35a6 0%, #0d231fc9 100%);
}

.blogs_slider .item.blue::after {
    background: linear-gradient(180deg, #072a428f 0%, #051827db 100%);
}

.move-hover {
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 24px;
    transition: all 1s;
    display: flex;
    position: absolute;
    inset: 100% 0% 0% 0;
    z-index: 3;
    align-items: flex-start;
}

.move-hover a.button {
    margin-right: auto;
}

.box {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 24px;
}

.box:hover .move-hover {
    top: 0;
}

p.text-size-regular {
    color: #ffffff;
    text-align: left;
    margin-bottom: 15px;
}

.box._w-4 h5 {
    font-weight: 500;
    font-size: 23px;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #ffffff;
}

p.item-date {
    color: rgb(157 157 157);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0px;
}

.box._w-4 h5 span {
    font-size: 23px;
    color: #EED274;
    font-style: italic;
    font-family: DM Serif Displa;
    font-weight: 500;
}

img.blog-top {
    inset: 0;
    width: 36% !important;
    margin: 0 auto;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none !important;
}
/**********************Explore gallery START***************************/
.gallery .box::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 1s;
    opacity: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgb(0 0 0 / 74%) 57%, #000000f0 100%), linear-gradient(180deg, rgba(122, 28, 24, 0.4) 0%, rgba(72, 16, 14, 0.4) 100%);
}
.gallery .box:hover::after {
    opacity: 1;
}
.item.black img.image-1-1 {
    opacity: 80%;
    transition: 1s;
}
.gallery .box {
    padding: 0;
    background: #000000;
    text-align: center;
}
.gallery .move-hover {
    display: flex;
    align-items: center;
    justify-content: center;
}
section.blogs.white-bg .owl-nav.disabled {
    display: block;
}

.item.black:hover img.image-1-1 {
    opacity: 23%;
}

.owl-nav.disabled {
    display: flex !important;
    position: absolute;
    top: 40%;
    justify-content: space-between;
    width: 100%;
}

button.owl-next,
button.owl-prev {
    width: 80px !important;
    height: 80px !important;
    border-radius: 100px !important;
    border-width: 0.5px !important;
    padding: 12px !important;
    backdrop-filter: blur(44px) !important;
    border: 0.5px solid rgba(255, 255, 255, 0.5) !important;
    overflow: hidden !important;
    align-items: center !important;
    display: flex !important;
    z-index: 1 !important;

}

.owl-stage-outer {
    z-index: 1;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: inherit;
    color: inherit;
    text-decoration: inherit;
}

button.owl-next span,
button.owl-prev span {
    color: #ffffff;
    display: flex;
    margin: 0 auto;
    margin-bottom: 13px;
    font-size: 65px;
}

.gallery .item {
    background: #000000;
}

  
/**********Newsletter***********/
.newsletter-section {
    background: url(../images/newselert.jpg) center / cover no-repeat;
    color: white;
    padding: 80px 0;
    position: relative;
    min-height: 481px;
}

.newsletter-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 68%);
}

.newsletter-content {
    position: relative;
    z-index: 1;
    max-width: 750px;
}

input.form-control {
    padding: 15px 10px;
    font-size: 15px;
}

.newsletter-content span {
    color: #EED274;
    font-style: italic;
    font-family: DM Serif Displa;
    font-weight: 500;
}

small.d-block.mt-3 {
    color: #ccc;
}

.newsletter-content p {
    font-size: 20px;
    color: #ccc;
    line-height: 1.5em;
}

.newsletter-content h2 {
    color: #fff;
    text-align: left;
}

.newsletter-form input {
    border-radius: 0px;
    border-color: rgba(217, 217, 217, 0.5);
}

.newsletter-form button {
    border-radius: 0px;
    padding: 15px 18px;
    font-size: 15px;
    font-weight: 600;
}

span {
    font-weight: 400;
    font-size: 54px;
}

.text-warning {
    --bs-text-opacity: 1;
    color: #fff !important;
    text-decoration: underline;
}

.form-control:focus {
    color: #fff !important;
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.1);
    outline: 0;
    box-shadow: 0px 0px 0px 0px;
    border-color: rgba(217, 217, 217, 0.5) !important;
}

input.form-control {
    color: #fff !important;
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.1);
}

input.form-control::placeholder {
    color: #ffffff;
}

form.newsletter-form.row.g-2 {
    margin-top: 32px;
    margin-bottom: 12px;
}

/*************************FOOTER START******************************/
.footer {
    color: white;
    padding: 64px 0px;
    text-align: left;
    background: linear-gradient(180deg, #072A42 0%, #051827 100%);
}

.footer-bottom p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #eaeef1;
}

.footer h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    margin-bottom: 20px;
    color: #ffffffc7;
    letter-spacing: 1px;
}

.ul-li-row a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.footer ul {
    display: grid;
    gap: 25px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.ul-li-row {
    display: flex;
    gap: 180px;
}

.flexx i {
    font-size: 16px;
    margin-right: 5px;
}

.social-icons {
    display: flex;
    gap: 24px;
}

.footer-bottom p.address {
    width: 70%;
}

.flexx {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 36px;
}

.highlight {
    color: #E8B923;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #E8B923;
}

.footer-left p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.social-icons i {
    font-size: 27px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.footer-middle,
.footer-right {
    max-width: 200px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    padding-right: 58px;
}

/*============ Responsive styles================== */

@media (max-width: 768px) {
    .navebar {
        display: none;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        position: absolute;
        top: 60px;
        right: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 15px;
        z-index: 1000;
    }

    .navebar.active {
        display: flex;
    }

    .toggle-button {
        display: flex;
    }

    .button-custome {
        display: none;
    }

    .banner-main {
        flex-direction: column;
        text-align: center;
    }

    .banner-left h1 {
        font-size: 30px;
    }

    .banner-left p {
        font-size: 14px;
    }

    .button-custome,
    .button {
        margin: 10px 0;
        width: 100%;
    }



}

@media (max-width: 600px) {
    .testimonial-item {
        padding: 10px;
        flex-wrap: wrap;
    }

    .testimonial-item img {
        max-width: 100%;
    }

}

@media (max-width: 1024px) {
    .banner-left h1 {
        font-size: 36px;
    }

    .banner-left p {
        font-size: 16px;
    }

    .button-custome,
    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}


@media (max-width: 480px) {
    .banner {
        padding: 60px 10px;
    }

    .banner-left h4 {
        font-size: 60px;
    }

    .banner-main {
        padding: 50px 0px;
    }

    .banner-left h1 {
        font-size: 40px;
    }

    .banner-left p {
        font-size: 17px;
    }

    .button-custome,
    .button {
        font-size: 20px;
        padding: 12px 30px;
    }

    .button-tow {
        display: flex;
        flex-wrap: wrap;
    }


}